.container {
  margin: 10px auto;
  text-align: center;
}

header {
  height: 25px;
}

img {
  cursor: pointer;
  height: 20px;
  margin-left: -45px;
  margin-bottom: -10px;
  padding: 10px 15px;
  z-index: 1000;
}

input {
  /*background: url('gps.png') no-repeat right;
  background-size: contain;*/
  border-color: black;
  border-radius: 10px;
  font-size: 25px;
  text-align: center;
}

.today {
  margin-left: auto;
  margin-right: auto;
}

.daily {
  border: 1px solid black;
  padding-top: 10px;
}

.summary {
  font-size: 1.5em;
  padding-top: 10px;
  padding-bottom: 5px;
}

.temp {
  font-size: 4em;
}

.city {
  font-size: 2em;
  padding-bottom: 5px;
}

.days {
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
}

.footer {
  height: 25px;
  padding-top: 10px;
}

@media screen and (min-width: 700px) {
  span {
    display: block;
  }

  p {
    margin-bottom: 10px;
  }

  .days {
    box-sizing: border-box;
    display: inline-block;
    height: 200px;
    margin-left: 2px;
    margin-right: 2px;
    vertical-align: top;
    width: 13%;
  }
}
